*{
	font-size: larger;
}

body {
	background-color: #000000;
}

h1{
	text-align: center;
	color: rgba(205, 255, 6, 0.832);
	font-size: 70px;
	text-decoration: solid;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-size-adjust: 150px;
	text-shadow: 100px white;
}



.classBar{
	width:25px;
	margin: 4px;
	background-color: rgb(239, 226, 248);
	border-radius: 30px;
	box-shadow: 3px 1px rgb(161, 135, 135);
}
